body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    line-height:1.5;
    margin:0;
    padding:0;
    background-image:url(Team_6_Images/Tartan.jpg);
}

/* Global */

.container {
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content:space-around;
    align-items:center;
    width:80%;
    overflow:hidden;
    background-color: #9EA799;
}

/* Fonts */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
  }

  .bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }


a {
    text-decoration:none;
    color:#CDA280;
    font-family:"GFS Didot";
}

header {
    background-color:#1E303C;
}

#mainnav ul{
    padding-right:10px;
    list-style:none;
    color:#CDA280;
}

#mainnav li{
    padding-right:10px;
    list-style:none;
    text-decoration:none;
}

.branding img {
    height:100px;
    width:100px;
    padding: 15px;
}

#mainnav .fa{
    margin-right:5px;
}

a:hover{
    color:#3A6E5A;
}

#mainnav .current a{
    color:#9EA799;
    font-style:bold;
    text-decoration:underline;
}

.container h1{
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
background-color: #3A6E5A;
color:#1E303C;
font: bolder;
font-size: 50px;
text-align:center;
padding:20px;
}

.bar {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:#1E303C;
    color:#CDA280;
    text-decoration:none;
    font-family:"GFS Didot";
    list-style: none;
}
.bar ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:100%;
    text-decoration:none;
    font-family:"GFS Didot";
    list-style: none;
}

.bar li{
    text-decoration:none;
    font-family:"GFS Didot";
    font-size: 22px;
    list-style: none;
}

.bar a{
    text-decoration:none;
    font-family:"GFS Didot";
    list-style: none;
}

#title h3{
    font-family: "GFS Didot", serif;
    font-weight: 1000;
    font-style: normal;
    color:#3A6E5A;
    font-size: 42px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin:auto;
    background-color: #9EA799;
    margin: auto;
    width:80%;
    padding:20px;
}
#title p{
    font-family:"Georgia";
    font-weight: 1000;
    font-style: normal;
    font-size: 24px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin:auto;
    background-color: #9EA799;
    margin: auto;
    width:80%;
    padding:10px;
}

.images {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:auto;
    background-color: #9EA799;
    margin:auto;
    width: 80%;
}

.images .img1 img, .img2 img, .img3 img {
    width: 90%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.reviews {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-content:center;
    align-items:center;
    margin:auto;
    width: 95%;
    background-color:#CDA280;
    border: solid 2px #9EA799;
    border-radius: 5px;
    padding:10px;
    margin:20px;
}

/* Home Main Section */

.container h2{
    font-family:"GFS Didot";
    font-size:36px;
    color:#1E303C;
    text-align:center;
    text-justify:center;
}

.container p{
    font-family:"Georgia";
    font-size:18px;
    color:#1E303C;
    text-align:center;
    text-justify:center;
}


/* footer */

footer {
    background-color: #1E303C;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:#CDA280;
    text-decoration:none;
    font-family: "GFS Didot";
}

footer #social_links li{
    display:flex;
    flex-direction:row;
}

#social_links li {
    text-decoration:none;
}
/* phone version */
@media only screen and (max-width:767px){
    .header{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:center;
        align-content:center;
        align-items:center;
        max-height:280px;
    }
    .header #mainnav ul {
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
    }

    .header #mainnav li {
        padding:5px;
    }

    .branding{
        max-height:80px;
        padding-bottom:20px;
    }

    .container {
        width:100%;
    }

    .images{
        width: 100%;
    }

    footer {
        position:aboslute;
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:space-around;
        align-content:center;
        align-items:center;
    }
    footer #social_links{
        display:flex;
        flex-direction: row;
    }

    #social_links a {
        display:flex;
        justify-content: space-around;
        padding-right:10px;
    }
}

/* Tablet version */
@media only screen and (min-width:768px){
    .header {
        width:100%;
        min-height:100px;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:center;
        align-content:center;
        align-items:center;
    }

    .header ul{
        display:flex;
        justify-content:center;
    }
    .header #mainnav li{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        align-content:center;
    }
    .branding{
        max-height:80px;
        padding-bottom:20px;
        display:flex;
        justify-content:center;
    }
    .container {
        width:100%;
    }

    .images{
        width: 100%;
    }

    footer {
        width:100%;
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
    }

    footer #social_links{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }

    #social_links a {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px;
    }
}

/* desktop version */
@media only screen and (min-width:992px){
    .header {
        display:flex;
        width: 100%;
        flex-direction:row;
        justify-content:space-between;
    }

    #mainnav ul {
        display:flex;
        flex-wrap:wrap;
        padding-right:30px;

    }

    .header #mainnav li{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
        padding-right:10px;
        Padding-top:30px;
        list-style:none;
        text-decoration:none;
    }

    .branding{
        display:flex;
        justify-content:flex-start;
        max-height:120px;
        max-width:120px;
        padding-bottom:20px;
        padding-left:30px;
    }

    .container {
        width:80%;
    }

    footer {
        width:100%;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    footer #social_links{
        display:flex;
        flex-direction: row;
    }

    #social_links a {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px;
    }
}
